
/*
Theme Name: Flatsome Child Theme
Theme URI: http://flatsome.uxthemes.com/
Description: This is a child theme for Flatsome
Author: UX Themes
Author URI: http: //www.uxthemes.com/
Template: flatsome
Version: 2.5
*/

/*************** ADD CUSTOM CSS HERE.   ***************/

/* MENU */

ul.header-nav {
	width: 100%;
}
ul.header-nav li.menu-item {
	width: 20%;
	margin: auto;
	text-align: center;
}

ul.header-nav a.nav-top-link {
	white-space: nowrap;
}

/* BANNER */

.row.container.banner-wrapper {
	max-width: initial;
	margin-bottom: 80px !important;
	background-color: #D73F2A;
}

.ux-slider {
	margin: 0;
}

.ux-slider-wrapper {
	width: 70%;
	margin: auto;
	margin-bottom: -50px;
}

/* PRODUCTS PAGE */
/* SLIDER TEXT BOX */
.ux_banner.dark .inner.bottom {
	bottom: 0 !important;
	left: 0 !important;
}
.ux_banner.dark .inner-wrap.animated.fadeIn.start-anim {
	background-color: rgba(0,0,0,0.5);
	padding: 30px;
	width: 60%;
}
.ux_banner.dark .inner-wrap.animated.fadeIn.start-anim h1{
	font-size: 2em;
}


/* NAV LINKS */
#logo a img {
	max-height: 100px !important;
}
ul.header-nav a.nav-top-link {
	color: #dd3333;
	opacity: 1;
	text-transform: none !important;
}
#top-bar .left-text a {
 	color: white;
 	padding-right: 10px;
 }

/* REMOVES PAGE TITLE */
.entry-header {
	display: block;
}

/* YOUTUBE EMBED */
.pretty-embed {
	margin: 0 auto;
}

/* OTHER RANGES */
.otherRangesTitle {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 33px;
}
.otherRange {
	height: 130px;
	width: 20%;
	float: left;
	position: relative;
	margin-bottom: 50px;
}
.row.other-ranges-wrapper div {
	display: inline-block;
}
.otherRange img {
	left: 50%;
	transform: translate(-50%);
	position: absolute;
}
.otherRange h6 {
	left: 50%;
	transform: translate(-50%);
	position: absolute;
	bottom: 0;
}

/* Category page content wrapper */
.tax-product-category .container {
	max-width: 1200px;
	margin: 0 auto;
}

/* PRODUCT-CATEGORY PAGE */
.row.product-entries {
	margin-bottom: 50px;
}
.cat-title {
	font-size: 50px;
}
.ourVariantsText {
	text-align: center;
	width: 70%;
	margin: 0 auto;
}
/* FAQ PAGE FORM */
.faqFormSection {
	background-color: #fad1d1;
}

/* FOOTER TEXT COLOR */
.footer.footer-1.light a, .footer.footer-1.light h3, .footer.footer-1.light p {
	color: #fff;
}

.footer.footer-1.light .tx-div.small {
	background: #fff;
	opacity: 0.3 ;
}

.footer.footer-1.light h5 {
	line-height: 0.9;
}

.footer-social-widget {
	text-align: center;
}

.footer.footer-1.light .post-date {
	color: #fff !important;
	border-color: #fff !important;
}

.widget-title.inner-title {
	margin-top: 20px;
}

.absolute-footer {
	padding: 20px 0;
}

.absolute-footer .left {
	text-align: center;
	width: 100%;
	color: #fff;
}

.copyright-footer {
    opacity: 1;
}

@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/
}
	

div.post-date{
	border: solid #808080;
	color: #808080;
}

/*HOME PAGE */

.entry-title{
	display: none;
}

.entry-header .entry-title{
	display: block;
}

.from_the_blog_title{
	color: red;
}

.ux-img-container.box-shadow{
	display: inline;
}


/*FAQ SUBMIT BUTTON*/
#gform_submit_button_1{
	float: right;
}

/*VARIANTS*/
.attachment-full.size-full{
	max-width: 1200px;
}

.top-image{
	text-align: center;
	margin-bottom: 30px;
}

.top-image img {
	margin-bottom: -43px;
}

.product-image {
	max-height: 450px;
	width: auto !important;
	margin: auto;
}

/*ORIGINAL PRODUCT*/
h2 span.uppercase{
	color: black !important;
}


.original-bg-color {
	background-color: #CF7C76;
}

.herbal-bg-color {
	background-color: #B0DBA6;
}

.gentle-care-bg-color {
	background-color: #FAD3E0;
}

.spring-fresh-bg-color {
	background-color: #B0DBA6;
}

.power-fresh-bg-color{
	background-color: #69B4D9;
}

.complete-care-bg-color{
	background-color: #FAD3E0;
}

/* RANGES CSS */
#post-29 .small-12 .ux-img-container {
	min-height:110px;
}

.inner-wrap.animated.fadeIn.start-anim{
	width: 70% !important;
}



